/* h2{
    color: white;
    font-weight: 800;
    text-align: center;
    padding:10px;
}
.btn{
    display:inline;
    float: right;
    padding: 2px;
    border-radius: 20px;
    text-align: center;
    margin-right:20px;

  
} */